body{
    background-image: url(unnamed.jpeg);
    background-size: contain;
    
}

h1{
    text-align: center;
}



.footer{
    color: red;
    background-color: black;
    height: 40px;
    text-align: center;
}